todo.txt
docker-compose.yml
update.sh

**/device-images/**
!**/device-images/no-image.png
**/old
**/node_modules
**/.env
**/.docker.env
**/.docker.*.env
**/.env.dev.*
**/.env.prod.*
**/.env.dev
**/.env.prod
**/build
**/dist
**/todo.txt
**/dloc-database/volume
**/_old
**/git-*.*

