:root {
  --top-menu-height: 64px;
  --bottom-menu-height: 72px;
}

*:focus-visible {
  outline: none !important;
}

body {
  padding: 0;
  margin: 0;
}

.box-class-info-box img:first-of-type {
  display: none;
}


*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}
*::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
}


.notistack-Snackbar {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  user-select: none;
}

.notistack-Snackbar .notistack-MuiContent {
  flex-flow: nowrap;
}

@keyframes pulse-icon {
  0% {
    box-shadow: 0 0 0 0 rgba(60, 60, 60, 0.4);
  }

  70% {
    box-shadow: 0 0 0 16px rgba(60, 60, 60, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(60, 60, 60, 0);
  }
}

@keyframes blinker-25 {
  50% {
    opacity: 0.25;
  }
}
