PORT_HTTP=9020
PORT_WS=0

# Upload folder for the pets images
UPLOAD_FOLDER=device-images

# URL To use in the frontend
WEB_URL=http://localhost:3000

# Google Auth api to check the user token
GOOGLE_AUTH_CHECK_URL=https://www.googleapis.com/oauth2/v1/userinfo?access_token=

# Conact mail to
CONTACT_US_MAIL_TO=info@mail.es

# Google mail configuration
GMAIL_FROM=youremail@gmail.com
GMAIL_USER=youremail@gmail.com
GMAIL_CLIENTE_ID=your_client_id-000000000000000000000000000000000000000000.apps.googleusercontent.com
GMAIL_CLIENTE_SECRET=your_secret-000000000000000000000000000000000
GMAIL_REFRESH_TOKEN=your_refresh_token-00000000000000000-00000000000000000000

# Microsoft Auth api to check the user token
MICROSOFT_AUTH_DISCOVERY_URL=https://login.microsoftonline.com/common/discovery/v2.0/keys
MICROSOFT_AUTH_ISSUER=https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0
MICROSOFT_CLIENT_ID=00000000-0000-0000-0000-000000000000

# Facebook Auth api to check the user token
FACEBOOK_AUTH_CHECK_URL=https://graph.facebook.com/me?fields=name,email,id&access_token=

# Mysql configuration
MYSQL_HOST=dloc-database
MYSQL_PORT=3306
MYSQL_DATABASE=dloc
MYSQL_USER=dloc-service
MYSQL_PASSWORD=set_complex_password_dloc_service
